<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>场地派 - 场地日租平台</title>
    <!-- 作者：李浩铭   -->
    <!--   -->
    <!--   -->
    <!--   -->
    <link rel="shortcut icon" type="image/x-icon" href="images\www.favicon.ico" media="screen" />
    <!--   -->
    <!--   -->
    <!--   -->
    <!-- css:Bootstrap -->
    <link href="libs/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- css:bootstrap-datetimepicker -->
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- css:自定义 -->
    <link rel="stylesheet" media="all" href="css/global.css" />
    <!--   -->
    <!--   -->
    <!--   -->
    <!-- js:jQuery -->
    <script src="libs/jquery/jquery-2.2.4.min.js"></script>
</head>

<body style="background-color:#F1F3F2" ng-app="appUserSetting" ng-controller="usersettingController as controller">
    <!-- -->
    <!-- -->
    <!-- -->
    <div hidden>通过 20160816 1818</div>
    <!---->
    <!---->
    <!---->
    <div class="header"></div>
    <!---->
    <!---->
    <!---->
    <!--账户编辑-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-12">
                <form class="form-horizontal" accept-charset="UTF-8" id="idUserInfoForm" name="nameUserInfoForm" ng-submit="submit()" novalidate="novalidate" autocomplete="off">
                    <div class="clearfix" style="margin-top: 10px;"></div>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <center>
                                    <h4>1.个人信息</h4>
                                </center>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':nameUserInfoForm.userName.$invalid &&  ( nameUserInfoForm.userName.$touched || submitted) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">用户名</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe605</i>
                                <input class="form-control iconInput" id="inputUserName" placeholder="中文名" type="text" name="userName" ng-model="controller.userName" ng-minlength="3" ng-maxlength="20" required/>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserInfoForm.userName.$error" ng-if="nameUserInfoForm.userName.$invalid">
                                    <p ng-message="required" ng-bind="'*必填'" ng-cloak></p>
                                    <p ng-message="minlength" ng-bind="'*长度至少为3'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*长度最多为20'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">密码</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="col-sm-12 iconInput" placeholder="&#xe600 密码" type="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">确认密码</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="col-sm-12 iconInput" placeholder="&#xe600 密码" type="password" />
                            </div>
                        </div>-->
                        <div class="form-group" hidden>
                            <div class="col-sm-4">
                                <label class="form-control-label">手机号</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe602</i>
                                <input class="col-sm-12 iconInput" placeholder="手机号" name="userPhone" type="text" ng-value="userinfo.userPhone" />
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <div class="col-sm-4">
                                <label class="form-control-label">密码</label>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-primary col-sm-4" href="/reset-password.html">修改密码</a>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">验证码</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="col-sm-8 iconInput" placeholder="&#xe601 六位数字" type="text" />
                                <input type="button" class="btn btn-primary col-sm-4 angle" value="发送" />
                            </div>
                        </div>-->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">头像预览</label>
                            </div>
                            <div class="col-sm-4">
                                <div id="resultAlbum" class="col-sm-12" style="margin-bottom:30px;">
                                    <img class="img-circle" ng-src="/upload/changdipai/images/avatar/{{userinfo.userImg}}" style="width: 150px;height: 150px;" />
                                </div>
                                <div class="col-sm-12">
                                    <input class="btn btn-primary" type="button" ng-click="rollbackAvantar()" value="撤销修改" />
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserInfoForm.inputPhotoErrorType.$invalid}">
                            <div class="col-sm-4">
                                <label class="form-control-label">选择图片</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <input class="btn btn-primary" type="button" onclick="selectPhoto_UserSettingHtml();" value="选择照片" />
                                    <div id="idInputPhotoPartent" hidden>
                                        <input id="inputPhoto" type="file" size="1" />
                                    </div>
                                </div>
                                <div hidden>
                                    <!--检测照片-->
                                    <input id="inputPhotoErrorType" name="inputPhotoErrorType" ng-model="controller.inputPhotoErrorType" ng-minlength="3" />
                                    <!--警告信息-->
                                    <input id="idInputPhotoErrorDialog" ng-model="inputPhotoErrorDialog" />
                                </div>
                                <div class="col-sm-12">
                                    <div class="help-block" ng-messages="nameUserInfoForm.inputPhotoErrorType.$error" ng-if="nameUserInfoForm.inputPhotoErrorType.$invalid">
                                        <p ng-message="minlength" ng-bind="inputPhotoErrorDialog" ng-cloak></p>
                                    </div>
                                    <!--载入成功提示-->
                                    <div ng-if="!nameUserInfoForm.inputPhotoErrorType.$invalid">
                                        <p>头像预览完成</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block">
                                    <p>照片须知</p>
                                    <p>请您仔细阅读下列标准，准备头像。</p>
                                    <p>1. 推荐jpg、jpeg、png格式，其他格式不予识别。</p>
                                    <p>2. 头像文件大于10KB，小于1M。</p>
                                    <p>3. 头像分辨率至少128*128像素。</p>
                                    <p>4. 头像宽高比或高宽比应在1-1.2之间。</p>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        function selectPhoto_UserSettingHtml() {
                            document.getElementById("inputPhoto").click();
                        }
                        $(document).ready(function() {
                            $('#inputPhoto').change(function() {
                                var MaxImgSize = 1 * 1024 * 1024; //1M
                                var MinImgSize = 10 * 1024; //10KB
                                var MinImgWidth = 128;
                                var MinImgHeight = 128;
                                var MaxImgRate = 1.2;
                                var MinImgRate = 0.8;
                                //预览提示
                                document.getElementById("idInputPhotoErrorDialog").value = "照片载入中，请耐心等待 . . .";
                                $("#idInputPhotoErrorDialog").trigger('input');
                                document.getElementById("inputPhotoErrorType").value = "1"; //照片未完成
                                $("#inputPhotoErrorType").trigger('input');
                                //开始检测
                                var file = document.getElementById("inputPhoto").files[0];
                                console.log('file');
                                console.log(file);
                                //照片检测
                                if (document.getElementById("inputPhoto").files.length == 0) {
                                    document.getElementById("inputPhotoErrorType").value = ""; //照片未完成
                                    $("#inputPhotoErrorType").trigger('input');
                                    return 0;
                                }
                                //检测照片格式
                                if (!/image\/\w+/.test(file.type)) {
                                    document.getElementById("idInputPhotoErrorDialog").value = "照片格式错误，必须是.gif,jpeg,jpg,png中的一种";
                                    $("#idInputPhotoErrorDialog").trigger('input');
                                    document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                    $("#inputPhotoErrorType").trigger('input');
                                    return false;
                                }
                                //检测照片占用空间大小
                                console.log("file.size (MB)");
                                console.log(file.size / 1024 / 1024);
                                if (file.size > 0) {
                                    if (file.size > MaxImgSize) {
                                        document.getElementById("idInputPhotoErrorDialog").value = "请勿选择过大的照片";
                                        $("#idInputPhotoErrorDialog").trigger('input');
                                        document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                        $("#inputPhotoErrorType").trigger('input');
                                        return false;
                                    } else if (file.size < MinImgSize) { //不得小于100KB
                                        document.getElementById("idInputPhotoErrorDialog").value = "请勿选择过小的照片";
                                        $("#idInputPhotoErrorDialog").trigger('input');
                                        document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                        $("#inputPhotoErrorType").trigger('input');
                                        return false;
                                    }
                                }
                                //判断图片像素大小
                                var reader = new FileReader();
                                var img = new Image();
                                reader.onloadend = function(evt) {
                                    img.src = this.result;
                                    var width = img.width;
                                    console.log("img.width");
                                    console.log(img.width);
                                    var height = img.height;
                                    console.log("img.height");
                                    console.log(img.height);

                                    if (img.width < MinImgWidth || img.height < MinImgHeight) {
                                        document.getElementById("idInputPhotoErrorDialog").value = "照片过小! 为保证视觉质量，该照片大小至少为" + MinImgWidth + "×" + MinImgHeight;
                                        $("#idInputPhotoErrorDialog").trigger('input');
                                        document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                        $("#inputPhotoErrorType").trigger('input');
                                        return false;
                                    }
                                    if (img.width / img.height < MinImgRate) {
                                        document.getElementById("idInputPhotoErrorDialog").value = "照片过高! 为保证视觉质量，场地照片宽度：高度比例至少为" + MinImgRate;
                                        $("#idInputPhotoErrorDialog").trigger('input');
                                        document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                        $("#inputPhotoErrorType").trigger('input');
                                        return false;
                                    } else if (img.width / img.height > MaxImgRate) {
                                        document.getElementById("idInputPhotoErrorDialog").value = "照片过宽! 为保证视觉质量，场地照片宽度：高度比例不超过" + MaxImgRate;
                                        $("#idInputPhotoErrorDialog").trigger('input');
                                        document.getElementById("inputPhotoErrorType").value = "1"; //照片错误
                                        $("#inputPhotoErrorType").trigger('input');
                                        return false;

                                    }
                                    previewAvatar('inputPhoto', 'resultAlbum', 'mul');
                                    return true;
                                }
                                reader.readAsDataURL(file); //检验
                            });
                        });

                        function previewAvatar(fileinputId, resultDivId, type) {
                            console.log("readAsDataURL");

                            //判断选中图片数量
                            var fileLength = document.getElementById(fileinputId).files.length;
                            if (fileLength == 0) {
                                console.log("没有选中图片");
                                return false;
                            } else if (fileLength > 30) {
                                console.log("一次上传不得超过30张图片");
                                return false;
                            }

                            var file;
                            for (var i = 0; i < fileLength; i++) {

                                //file对象为用户选择的某一个文件 
                                file = document.getElementById(fileinputId).files[i];
                                if (!/image\/\w+/.test(file.type)) {
                                    console.log("请确认图片格式！");
                                    return false;
                                }
                                var reader = new FileReader();
                                //将文件以Data URL形式读入页面  
                                reader.readAsDataURL(file);
                                reader.onload = function(e) {
                                    var result = document.getElementById(resultDivId);
                                    //显示文件  
                                    if (type == 'single') {
                                        result.innerHTML = '<img class="img-circle" src="' + this.result + '" alt="" style="width: 150px;height: 150px;"/>';
                                    } else {
                                        result.innerHTML = '<img class="img-circle" src="' + this.result + '" alt="" style="width: 150px;height: 150px;"/>';
                                    }
                                    //载入完成
                                    document.getElementById("inputPhotoErrorType").value = "100"; //照片载入完成
                                    $("#inputPhotoErrorType").trigger('input');
                                }
                            }
                        }
                        </script>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <!--城市-->
                        <!--<div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">所在城市</label>
                            </div>
                            <div class="col-sm-4">
                                <select class="col-sm-12" name="cityId">
                                    <option ng-repeat="city in citys" ng-value="city.cityId" ng-bind="city.cityName"></option>
                                </select>
                            </div>
                        </div>-->
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserInfoForm.userIntroduce.$invalid &&  ( nameUserInfoForm.userIntroduce.$touched || submitted) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">用户简介</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe60c</i>
                                <textarea class="form-control iconInput" placeholder="文本" type="text" name="userIntroduce" ng-model="controller.userIntroduce" ng-minlength="3" ng-maxlength="50" required></textarea>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserInfoForm.userIntroduce.$error" ng-if="nameUserInfoForm.userIntroduce.$invalid">
                                    <p ng-message="required" ng-bind="'*必填'" ng-cloak></p>
                                    <p ng-message="minlength" ng-bind="'*至少填写3个字符'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*最多填写50个字符'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <!--<div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">状态</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="status" class="col-sm-12">
                                    <option value="0" ng-selected="managerinfo.status==0">激活</option>
                                    <option value="1" ng-selected="managerinfo.status==1">冻结</option>
                                </select>
                            </div>
                        </div>-->
                    </fieldset>
                    <fieldset>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <center>
                                    <h4>2.隐私信息</h4>
                                </center>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">真实姓名</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe605</i>
                                <input class="col-sm-12 iconInput" placeholder="中文名" type="text" name="trueName" ng-value="userinfo.trueName" />
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserInfoForm.userAddress.$invalid &&  ( nameUserInfoForm.userAddress.$touched || submitted) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">常用地址</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe610</i>
                                <input class="form-control iconInput" type="text" placeholder="地址" name="userAddress" ng-model="controller.userAddress" ng-maxlength="50" />
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserInfoForm.userAddress.$error" ng-if="nameUserInfoForm.userAddress.$invalid">
                                    <p ng-message="maxlength" ng-bind="'*最多填写50个字符'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserInfoForm.userCard.$invalid &&  ( nameUserInfoForm.userCard.$touched || submitted) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">身份证号</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe601</i>
                                <input class="form-control iconInput" placeholder="身份证号" type="text" name="userCard" ng-model="controller.userCard" ng-minlength="18" ng-maxlength="18" ng-pattern="/^(^\d{18}$|^\d{17}(\d|X|x))$/" />
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserInfoForm.userCard.$error" ng-if="nameUserInfoForm.userCard.$invalid">
                                    <p ng-message="minlength" ng-bind="'*位数不足，必须填写18位数字'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*位数过长，必须填写18位数字'" ng-cloak></p>
                                    <p ng-message="pattern" ng-bind="'*格式不正确，必须填写18位数字'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" hidden>
                            <div class="col-sm-4">
                                <label class="form-control-label">收款账号</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe601</i>
                                <input class="col-sm-12 iconInput" placeholder="账号" type="text" name="userPay" ng-value="userinfo.userPay" />
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">单位名称</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="col-sm-12 iconInput" placeholder="&#xe605 中文名" type="text" />
                            </div>
                        </div>-->
                    </fieldset>
                    <fieldset>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary col-sm-12" type="submit">保存信息</button>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <script type="text/javascript">
                        function userSetting() {
                            //获得头像文件列表
                            var fileImage = document.getElementById("inputPhoto").files;
                            console.log("fileImagesLength:" + fileImage.length);
                            if (fileImage.length == 0) {
                                console.log("没有选中图片"); //过滤特殊情况
                                var urlFile = document.getElementById("userAvatarOld").value;
                                console.log("urlFile：" + urlFile);
                            } else {
                                console.log("选择了新头像");
                                //上传头像
                                var thisFormData = new FormData();
                                thisFormData.append("file", fileImage[0]); //设置图片文件
                                var urlFile = ajaxFormData("post", "/dreamSpace/userInfo/sendUserImg.html", thisFormData, false).fileName;
                                console.log("urlFile");
                                console.log(urlFile);
                            }
                            //上传用户表单
                            var strForm = $('#idUserInfoForm').serialize();
                            strForm += "&userImg=";
                            strForm += urlFile; //设置头像地址
                            var postData = ajaxPar("/dreamSpace/userInfo/settingUser.html", "post", strForm, false);
                            console.log("postData.message");
                            console.log(postData.message);
                            //
                            if (postData.message == true) {
                                console.log("发布成功");
                                var newUserName = document.getElementById("inputUserName").value;
                                setCookie('userName', newUserName);
                                setTimeout('window.location.href = "/success.html?type=user";', 1000);
                            } else {
                                console.log("发布失败");
                            }
                        }
                        </script>
                    </fieldset>
                    <fieldset hidden>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <center>
                                    <h4>0.隐藏信息</h4>
                                </center>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">用户Id</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe605</i>
                                <input class="col-sm-12 iconInput" placeholder="ID" type="text" name="userId" ng-value="thisUserId" />
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">用户原头像地址</label>
                            </div>
                            <div class="col-sm-4">
                                <i class="icon">&#xe605</i>
                                <input class="col-sm-12 iconInput" placeholder="文件地址" type="text" ng-value="userinfo.userImg" id="userAvatarOld" />
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="form-control-label">用户状态</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="userActive" value="0" />
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!--/.账户编辑-->
    <!--    -->
    <!--    -->
    <!--    -->
    <div ng-include="'includes/footer.html'"></div>
    <!--    -->
    <!--    -->
    <!--    -->
    <!-- JS：AngularJS -->
    <script src="js/angular.min.1.5.8.js"></script>
    <!-- js：AngularJSCookies -->
    <script src="js/angular-cookies.1.0.8.js"></script>
    <!-- JS：AngularJS-表单提示 -->
    <script src="libs/angular-messages/angular-messages.js"></script>
    <!-- js:Bootstrap -->
    <script src="libs/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
    <!-- js:bootstrap-datetimepicker -->
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <!-- js:bootstrap-datetimepicker.zh-CN -->
    <script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- JS:angular-ui-bootstrap -->
    <script src="js/angular-ui-bootstrap.0.12.0.js"></script>
    <!-- js:自定义 -->
    <script src="js/global.js"></script>
    <!--    -->
    <!--    -->
    <!--    -->
    <script type="text/javascript">
    var appUserSettingHtml = angular.module("appUserSetting", ["ngMessages"], function() {
        console.log("ng-app : appUserSetting");
    }); //'ngSanitize'
    appUserSettingHtml.controller("usersettingController", function usersettingController($scope, $http) {
        console.log("usersettingController");
        var userId = "";
        userId = getPar("userId");
        console.log("userId");
        console.log(userId);
        if (userId == "") {
            userId = getCookie("userId");
        }
        //场地id与名称
        $scope.thisUserId = userId;
        var url = "/dreamSpace/userInfo/queryUserDetail.html?userId=" + userId;
        console.log("url=");
        console.log(url);
        $http.get(url).success(function(response) {
            console.log("usersettingController success");
            console.log("response=");
            console.log(response);
            $scope.userinfo = response.userInfo;
            //对表单赋值
            $scope.controller.userName = $scope.userinfo.userName;
            $scope.controller.userIntroduce = $scope.userinfo.userIntroduce;
            $scope.controller.userAddress = $scope.userinfo.userAddress;
            $scope.controller.userCard = $scope.userinfo.userCard;
        });

        $scope.rollbackAvantar = function() {
            var result = document.getElementById("resultAlbum");
            //显示文件  
            result.innerHTML = '<img class="img-circle" src="/upload/changdipai/images/avatar/' + $scope.userinfo.userImg + '" style="width: 150px;height: 150px;" />';
            var inputDiv = document.getElementById("idInputPhotoPartent");
            inputDiv.innerHTML = '<input id="inputPhoto" type="file" size="1" />';
        }
        console.log("usersettingController");
        //照片错误检测
        $scope.inputPhotoErrorType = "1";
        $scope.inputPhotoErrorDialog = "照片错误警告";
        //提交表单 
        $scope.submitted = false;
        $scope.submit = function() {
            console.log("$scope.submitted");
            console.log($scope.submitted);
            if (!$scope.nameUserInfoForm.$invalid) {
                console.log("表单验证正确");
                userSetting();
            } else {
                console.log("表单验证有错");
            }
            $scope.submitted = true;
        }
    });
    </script>
</body>

</html>
