<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>场地派 - 场地日租平台</title>
    <!-- 作者：李浩铭   -->
    <link rel="shortcut icon" type="image/x-icon" href="images\www.favicon.ico" media="screen" />
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- css:Bootstrap -->
    <link href="libs/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- css:bootstrap-datetimepicker -->
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- css:自定义 -->
    <link rel="stylesheet" media="all" href="css/global.css" />
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- js:jQuery -->
    <script src="libs/jquery/jquery-2.2.4.min.js"></script>
</head>

<body ng-app="appUserPhoneUpdate" ng-controller="userPhoneUpdateController as controller">
    <!-- -->
    <!-- -->
    <!-- -->
    <div class="header"></div>
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- 清除浮动 -->
    <div class="clearfix" style="margin-bottom: 50px;">
    </div>
    <!-- -->
    <!-- -->
    <!-- -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-12">
                <center>
                    <h4>绑定手机</h4></center>
            </div>
        </div>
        <!-- 清除浮动 -->
        <div class="clearfix" style="margin-bottom: 30px;">
        </div>
        <div class="row-fluid">
            <div class="col-sm-12">
                <form class="form-horizontal" id="idUserPhoneUpdateForm" name="nameUserPhoneUpdateForm" accept-charset="UTF-8" ng-submit="submit()" novalidate="novalidate" autocomplete="off">
                    <fieldset>
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <div class="form-group" hidden>
                            <div class="col-sm-4">
                                <label class="form-control-label">用户Id 隐藏</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="col-sm-12 iconInput" placeholder="ID" type="text" name="userId" ng-value="thisUserId" readonly/>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserPhoneUpdateForm.oldPhone.$invalid && ( submitted || nameUserPhoneUpdateForm.inputCheck.$touched || nameUserPhoneUpdateForm.oldPhone.$touched) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">原手机号</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <i class="icon">&#xe602</i>
                                    <input class="iconInput form-control" id="inputUserPhone_resetPassword_HTML" placeholder="手机号" type="text" readonly style="background-color:white;" name="oldPhone" ng-model="controller.oldPhone" ng-maxlength="11" ng-minlength="11" ng-pattern="/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserPhoneUpdateForm.oldPhone.$error" ng-if="nameUserPhoneUpdateForm.oldPhone.$invalid">
                                    <p ng-message="required" ng-bind="'加载中 . . .请稍候'" ng-cloak></p>
                                    <p ng-message="minlength" ng-bind="'*号码位数过少'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*号码位数过多'" ng-cloak></p>
                                    <p ng-message="pattern" ng-bind="'*手机号码不真实'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group" ng-class="{'has-error':nameUserPhoneUpdateForm.userPhone.$invalid && ( submitted || nameUserPhoneUpdateForm.inputCheck.$touched || nameUserPhoneUpdateForm.userPhone.$touched) }">
                            <div class="col-sm-4">
                                <label class="form-control-label">新手机号</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <i class="icon">&#xe602</i>
                                    <input class="iconInput form-control" id="inputUserPhone_userphoneupdate" placeholder="手机号" type="text" style="background-color:white;" name="userPhone" ng-model="controller.userPhone" ng-maxlength="11" ng-minlength="11" ng-pattern="/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserPhoneUpdateForm.userPhone.$error" ng-if="nameUserPhoneUpdateForm.userPhone.$invalid">
                                    <p ng-message="required" ng-bind="'*必填'" ng-cloak></p>
                                    <p ng-message="minlength" ng-bind="'*号码位数过少'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*号码位数过多'" ng-cloak></p>
                                    <p ng-message="pattern" ng-bind="'*手机号码不真实'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <div class="form-group" ng-class="{'has-error':nameUserPhoneUpdateForm.inputCheck.$invalid && ( submitted || nameUserPhoneUpdateForm.inputCheck.$touched)}">
                            <div class="col-sm-4">
                                <label class="form-control-label">验证码</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <i class="icon">&#xe601 </i>
                                    <div class="col-sm-8" style="padding:0px">
                                        <input class="form-control iconInput" placeholder="验证码（六位数字）" type="text" name="inputCheck" ng-model="controller.inputCheck" required ng-maxlength="6" ng-minlength="6" ng-pattern="/\d{6}$/" />
                                    </div>
                                    <div class="col-sm-4" style="padding:0px">
                                        <input class="btn btn-primary angle col-sm-12" onclick="sendMessage_userphoneupdate()" id="btnSendCode_userphoneupdate" value="发送验证码" type="button" ng-disabled="nameUserPhoneUpdateForm.userPhone.$invalid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="help-block" ng-messages="nameUserPhoneUpdateForm.inputCheck.$error" ng-if="nameUserPhoneUpdateForm.inputCheck.$invalid">
                                    <p ng-message="required" ng-bind="'*必填'" ng-cloak></p>
                                    <p ng-message="maxlength" ng-bind="'*必须填写6位数字'" ng-cloak></p>
                                    <p ng-message="minlength" ng-bind="'*必须填写6位数字'" ng-cloak></p>
                                    <p ng-message="pattern" ng-bind="'*必须填写6位数字'" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <script type="text/javascript">
                        var InterValObj_userphoneupdate; //timer变量，控制时间
                        var count_userphoneupdate = 60; //间隔函数，1秒执行
                        var curCount_userphoneupdate; //当前剩余秒数

                        function sendMessage_userphoneupdate() {　
                            //发送验证码
                            var str = "userPhone=" + document.getElementById("inputUserPhone_userphoneupdate").value;
                            console.log(str);
                            if (str == "userPhone=") {
                                console.log("手机号为空");
                                return false;
                            }
                            $.ajax({　
                                url: 'dreamSpace/userInfo/sendCode.html', //目标地址
                                type: "GET", //用POST方式传输
                                data: str,
                                processData: false, // 告诉jQuery不要去处理发送的数据
                                contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                                error: function(status) {
                                    console.log(status);
                                },
                                success: function(status) {
                                    console.log(status);
                                }
                            });
                            //
                            curCount_userphoneupdate = count_userphoneupdate;　　 //设置button效果，开始计时
                            $("#btnSendCode_userphoneupdate").attr("disabled", "true");
                            $("#btnSendCode_userphoneupdate").val("等待" + curCount_userphoneupdate + "秒");
                            InterValObj_userphoneupdate = window.setInterval(SetRemainTime_userphoneupdate, 1000); //启动计时器，1秒执行一次
                        }
                        //timer处理函数
                        function SetRemainTime_userphoneupdate() {
                            if (curCount_userphoneupdate == 0) {
                                window.clearInterval(InterValObj_userphoneupdate); //停止计时器
                                $("#btnSendCode_userphoneupdate").removeAttr("disabled"); //启用按钮
                                $("#btnSendCode_userphoneupdate").val("重新发送");
                            } else {
                                curCount_userphoneupdate--;
                                $("#btnSendCode_userphoneupdate").val("等待" + curCount_userphoneupdate + "秒");
                            }
                        }
                        </script>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary col-sm-12" type="submit" ng-bind="btnSubmitText">确认修改</button>
                            </div>
                        </div>
                        <!--    -->
                        <!--    -->
                        <!--    -->
                        <div class="form-group has-error">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-7">
                                <div class="help-block" ng-messages="nameUserPhoneUpdateForm.$error" ng-if="submitted">
                                    <p ng-bind="ReturnError" ng-cloak></p>
                                </div>
                            </div>
                        </div>
                        <input type="text" ng-model="ReturnError" id="idInputReturnError" hidden />
                        <!-- -->
                        <!-- -->
                        <!-- -->
                        <script type="text/javascript">
                        var varReturnData_userPhoneUpdate = "varReturnData_userPhoneUpdate";

                        function userPhoneUpdate() {
                            console.log("userPhoneUpdate");
                            //var temp = "first";
                            console.log($('#idUserPhoneUpdateForm').serialize());
                            $.ajax({
                                type: "post",
                                url: "/dreamSpace/userInfo/updateUserPhone.html", //请求路径
                                data: $('#idUserPhoneUpdateForm').serialize(),
                                dataType: "json",
                                success: function(data) {
                                    console.log("success");
                                    console.log(data);
                                    varReturnData_userPhoneUpdate = data;
                                    if (data.error == undefined) {
                                        setTimeout("window.location.href='/success.html?type=user' ;", 1000);
                                    } else {
                                        console.log("提交失败");
                                        document.getElementById("idInputReturnError").value = data.error;
                                        $("#idInputReturnError").trigger('input');
                                    }
                                },
                                error: function(data) {
                                    console.log("error");
                                    console.log(data);
                                    varReturnData_userPhoneUpdate = data;
                                    console.log(data.status);
                                }
                            });
                        }
                        </script>
                        <!-- -->
                        <!-- -->
                        <!-- -->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- 清除浮动 -->
    <div class="clearfix" style="margin-bottom: 100px;"></div>
    <!---->
    <!---->
    <!---->
    <div ng-include="'includes/footer.html'"></div>
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- JS：AngularJS -->
    <script src="js/angular.min.1.5.8.js"></script>
    <!-- js：AngularJSCookies -->
    <script src="js/angular-cookies.1.0.8.js"></script>
    <!-- JS：AngularJS-表单提示 -->
    <script src="libs/angular-messages/angular-messages.js"></script>
    <!-- js:Bootstrap -->
    <script src="libs/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
    <!-- js:bootstrap-datetimepicker -->
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <!-- js:bootstrap-datetimepicker.zh-CN -->
    <script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- js:自定义 -->
    <script src="js/global.js"></script>
    <!-- -->
    <!-- -->
    <!-- -->
    <script type="text/javascript">
    var modUserPhoneUpdate_Html = angular.module("appUserPhoneUpdate", ["ngMessages"], function() {
        console.log("ng-app : appUserPhoneUpdate");
    });
    modUserPhoneUpdate_Html.controller("userPhoneUpdateController", function userPhoneUpdateController($scope, $http) {
        var userId = "";
        console.log("userId：" + userId);
        userId = getPar("userId");
        console.log("userId：" + userId);
        if (userId == "") {
            userId = getCookie("userId");
            console.log("userId：" + userId);
        }
        $scope.thisUserId = userId;
        var url = "dreamSpace/userInfo/queryUserDetail.html?userId=" + userId;
        //alert(url);
        $http.get(url).success(function(response) {
            $scope.userinfo = response.userInfo;
            //手机号初始化
            $scope.controller.oldPhone = response.userInfo.userPhone;
            //alert(response[0].spaceTypeId);
        });
        //提交表单检测
        $scope.submitted = false;
        $scope.submit = function() {
            console.log("$scope. submitted");
            console.log($scope.submitted);
            if (!$scope.nameUserPhoneUpdateForm.$invalid) {
                console.log("表单验证正确");
                userPhoneUpdate(); //
            } else {
                console.log("表单验证有错");
                $scope.ReturnError = "发布失败，请检查填写内容";
            }
            $scope.submitted = true;
        };
        //发布失败
        $scope.ReturnError = "发布失败，请检查填写内容";
        //修改按钮
        $scope.btnSubmitText = "确认修改";
        $scope.$watch('submitted', function() {
            if ($scope.submitted) {
                $scope.btnSubmitText = "重新修改";
            }
        });
    });
    </script>
</body>

</html>
