<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 区别与其他sql映射文件不同 推荐场地信息数据层 -->
<mapper namespace="com.service.ISpaceFileInfoService">

	<!-- 1，size:表示缓存cache中能容纳的最大元素数。默认是1024； 2，flushInterval:定义缓存刷新周期，以毫秒计； 
		3，eviction:定义缓存的移除机制；默认是LRU(least recently userd，最近最少使用),还有FIFO(first in 
		first out，先进先出) 4，readOnly:默认值是false，假如是true的话，缓存只能读。 -->
	<cache size="1024" flushInterval="60000" eviction="LRU" readOnly="false" />
	<!-- 场地文件信息列表 -->
	<resultMap type="SpaceFileInfo" id="spaceFileInfoList">
		<id column="fileId" property="fileId" />
		<result column="spaceId" property="spaceId" />
		<result column="file" property="file" />
		<result column="fileName" property="fileName" />
	</resultMap>
	<!-- 场地文件信息列表 -->

	<!-- 查询場地文件信息 -->
	<select id="querySpace" resultMap="spaceFileInfoList" parameterType="string">
		select fileId,spaceId,file,fileName from spaceFileInfo where spaceId=#{spaceId}
	</select>
	<!-- 查询場地文件信息 -->

	<!-- 添加場地文件信息 -->
	<insert id="addFile" parameterType="SpaceFileInfo">
		insert spaceFileInfo(fileId,spaceId,file,fileName) values(#{fileId},#{spaceId},#{file},#{fileName})
	</insert>
	<!-- 添加場地文件信息 -->
</mapper>
